
<!-- <div style="background-color: #e9ecee; align-items: center;"> -->
<div class="container" style="background-color: #e9ecee">
	<div class="row">
		<div class="col-md-8 card" style="margin-left: 20px; height: 120px;">
			<p class="card-text" style="margin-left: 20px; padding: 10px;"> Delivery Address </p>
		</div>
		
		<div class="col-md-8 card"  style=" margin-top: 20px; height: 120px;">
            <% if current_user.cart_items.present? %>
			<button id="rzp-button1" style="width: 150px;">Pay with Razorpay</button>
            <% end %>
		</div>
		<div class="col-md-4" >
			<div class="card" id="cart-item" style="padding: 25px; width: 350px;">
                
				<% @cart_items.each do |item| %>
					 <p class="card-text" > <span style="font-size: 14px;"> <%= item.name.titleize %> </span> <span style="padding: 10px; margin-left: 55px;"> ₹<%= item.price %> </span>
                        <%= hidden_field_tag 'render_item', item.id %>
                        <button id="delete_item" class: 'btn btn-primary'  style: "width: 50px;">Delete Item</button>
                     </p>
                    </p>		   
				<% end %>
                <p>
                    <% if current_user.cart_items.present? %>
                    <button id="clear-cart" class: 'btn btn-primary',  style: "width: 50px;">Clear Cart</button>
                    <p class="card-text" style="margin-top: 50px;"> To Pay ₹   </p>
                    <span id="payment" style="margin-left: 65px;"><%=  @cart_amount %></span>
                    <% end %> 
                    <%= link_to "Back to Add Items", hotels_path %> </p>       
			</div> 
		</div>
	</div>	
</div>


<!-- <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
    "key": "order_MClVQawNr9bgs2", // Enter the Key ID generated from the Dashboard
    "amount": parseInt($('#payment').text()), // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Acme Corp",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": "order_M877WPYy5aYQLg", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        alert(response.razorpay_payment_id);
        alert(response.razorpay_order_id);
        alert(response.razorpay_signature)
    },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9000090000"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
console.log(parseInt($('#payment').text()));

var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});
document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
</script> -->
<script type="text/javascript">
    $('#rzp-button1').click(function(){
        $.ajax({
            url: "cart_items/:id",
            type: "DELETE",
            data: $(this).val(),
        })
        alert("The payment is succesfully.");
        $('#rzp-button1').hide();
        var str = "order_items"
        $.ajax({
            url: "cart_items/"+str,
            type: "DELETE"
        })
        alert("The ordered items delivery to your home in 10- 15 mins you will received sms")
        window.location.reload();
       
    })

    $('#clear-cart').click(function(){
        var str = "bulk_items"
        $.ajax({
            url: "cart_items/"+str,
            type: "DELETE"
        })
   
    window.location.reload();
    })

    $("#item-cart").hover(function(){
		$("#item-cart").css("display", "block")

	 })

    $('#delete_item').click(function(){
        var id = $('#render_item').val();
        $.ajax({
            url: "cart_items/"+id,
            type: "DELETE",
    })
    window.location.reload();
    })

    $('#clear-cart').hover (function (){
        $('#clear-cart').css('background-color','orange')
      })
      $('#clear-cart').on("mouseout", function (){
        $('#clear-cart').css('background-color','')
    })

    $('#add_cart').hover (function (){
        $('#add_cart').css('background-color','orange')
      })
      $('#add_cart').on("mouseout", function (){
        $('#add_cart').css('background-color','')
    })     
</script>

	
<!-- </div> -->




